In [32]:
import pandas as pd

In [33]:
orders = pd.read_csv('./Data/orders.csv', sep = ',')

In [34]:
orders.head()

,ORDERID,ORDERDATE,SHIPDATE,SHIPMODE,CUSTOMERID,PRODUCTID,ORDERCOSTPRICE,ORDERSELLINGPRICE
0,1,2021/11/08,2021/11/11,Second Class,CG-12520,FUR-BO-10001798,157,262.0
1,2,2021/11/08,2021/11/11,Second Class,CG-12520,FUR-CH-10000454,366,732.0
2,3,2021/06/12,2021/06/16,Second Class,DV-13045,OFF-LA-10000240,13,15.0
3,4,2020/10/11,2020/10/18,Standard Class,SO-20335,FUR-TA-10000577,575,958.0
4,5,2020/10/11,2020/10/18,Standard Class,SO-20335,OFF-ST-10000760,13,22.0

In [35]:
orders.dtypes

ORDERID                int64
ORDERDATE             object
SHIPDATE              object
SHIPMODE              object
CUSTOMERID            object
PRODUCTID             object
ORDERCOSTPRICE         int64
ORDERSELLINGPRICE    float64
dtype: object

In [36]:
orders.isna()

,ORDERID,ORDERDATE,SHIPDATE,SHIPMODE,CUSTOMERID,PRODUCTID,ORDERCOSTPRICE,ORDERSELLINGPRICE
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9782,False,False,False,False,False,False,False,False
9783,False,False,False,False,False,False,False,False
9784,False,False,False,False,False,False,False,False
9785,False,False,False,False,False,False,False,False
9786,False,False,False,False,False,False,False,False

In [37]:
orders.isna().sum()

ORDERID              0
ORDERDATE            0
SHIPDATE             0
SHIPMODE             0
CUSTOMERID           0
PRODUCTID            0
ORDERCOSTPRICE       0
ORDERSELLINGPRICE    0
dtype: int64

In [38]:
orders.isna().sum()

ORDERID              0
ORDERDATE            0
SHIPDATE             0
SHIPMODE             0
CUSTOMERID           0
PRODUCTID            0
ORDERCOSTPRICE       0
ORDERSELLINGPRICE    0
dtype: int64

In [39]:
orders.dropna()

,ORDERID,ORDERDATE,SHIPDATE,SHIPMODE,CUSTOMERID,PRODUCTID,ORDERCOSTPRICE,ORDERSELLINGPRICE
0,1,2021/11/08,2021/11/11,Second Class,CG-12520,FUR-BO-10001798,157,262.0
1,2,2021/11/08,2021/11/11,Second Class,CG-12520,FUR-CH-10000454,366,732.0
2,3,2021/06/12,2021/06/16,Second Class,DV-13045,OFF-LA-10000240,13,15.0
3,4,2020/10/11,2020/10/18,Standard Class,SO-20335,FUR-TA-10000577,575,958.0
4,5,2020/10/11,2020/10/18,Standard Class,SO-20335,OFF-ST-10000760,13,22.0
...,...,...,...,...,...,...,...,...
9782,9796,2021/05/21,2021/05/28,Standard Class,SH-19975,OFF-BI-10003429,2,4.0
9783,9797,2020/01/12,2020/01/17,Standard Class,CS-12490,OFF-AR-10001374,7,10.0
9784,9798,2020/01/12,2020/01/17,Standard Class,CS-12490,TEC-PH-10004977,212,235.0
9785,9799,2020/01/12,2020/01/17,Standard Class,CS-12490,TEC-PH-10000912,13,26.0
9786,9800,2020/01/12,2020/01/17,Standard Class,CS-12490,TEC-AC-10000487,7,10.0

In [40]:
orders.isna().sum()

ORDERID              0
ORDERDATE            0
SHIPDATE             0
SHIPMODE             0
CUSTOMERID           0
PRODUCTID            0
ORDERCOSTPRICE       0
ORDERSELLINGPRICE    0
dtype: int64

In [41]:
orders.dropna(inplace=True)

In [42]:
orders.isna().sum()

ORDERID              0
ORDERDATE            0
SHIPDATE             0
SHIPMODE             0
CUSTOMERID           0
PRODUCTID            0
ORDERCOSTPRICE       0
ORDERSELLINGPRICE    0
dtype: int64

In [43]:
orders.to_csv('./Data/orders.csv', index = False)

In [45]:
orders.isna().sum()

ORDERID              0
ORDERDATE            0
SHIPDATE             0
SHIPMODE             0
CUSTOMERID           0
PRODUCTID            0
ORDERCOSTPRICE       0
ORDERSELLINGPRICE    0
dtype: int64

In [46]:
orders.count()

ORDERID              9787
ORDERDATE            9787
SHIPDATE             9787
SHIPMODE             9787
CUSTOMERID           9787
PRODUCTID            9787
ORDERCOSTPRICE       9787
ORDERSELLINGPRICE    9787
dtype: int64